h1 {
	margin-top: 150px;
	text-align: center;
	color: #696969;
	font-weight: 400;
	text-transform: uppercase;
	font: normal 52px 'Playball', cursive;
	opacity: 1;
}
h1:hover{
	opacity: 0.60;
	color: #6B0E10;
}
#searchButton {
	text-align: center;
	background-color: #696969;
	color: #FFFFFF;
	font-family:  'Playball', cursive;
	opacity: 1;
}
#searchButton:hover {
	opacity: 0.60;
}
#search {
	margin-left: 35%;
}
#searchCity{
	width: 200px;
	
}
#forecast {
	margin-right: 13%;
	margin-left: 13%;
}
.description {
	text-align: center;
	color: #696969;
	text-transform: uppercase;
	opacity: 1;
	font-family: normal 'Playball', cursive;
	font-weight: 400;
}
.description:hover {
	opacity: 0.6;
	color: #6B0E10;
}

#imgdiv {
	margin-left: 10%;
}
.column {
	text-align: center;
	text-transform: capitalize;
	color: #6B0E10;
	font-family: Playball, cursive;
	font-style: normal;
}
